@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-white scroll-smooth;
	}
}

:root {
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.overflow-w-hidden {
	scrollbar-width: none;
	-ms-overflow-style: none;
}
